
.rules-row {
    margin-bottom: 50px;
    color: #FFF;
    font-family: "Open Sans";
    width: 100%;
}

.content-row {
    padding-bottom: 0;
}

.rule-title {
    width: 100%;
    padding-bottom: 7px;
    font-family: Korolev;
    font-size: 18px;
    font-weight: bold;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.rule-content {
    margin-top: 15px;
    color: rgba(255, 255, 255, 0.6);
    font-size: 14px;
    line-height: 24px;
}

.rule-content span {
    color: #FFF;
}

.rule-content a {
    color: #C93A1B;
}

.link {
    color: #A6351E;
    opacity: 0.7;
}

.full-rule-title {
    color: #FFF;
    font-size: 14px;
    font-weight: 600;
    line-height: 19px;
    margin-top: 20px;
}

.full-rule-content {
    margin-top: 10px;
}

.settings-table {
    width: 100%;
    font-size: 14px;
    margin: 0 0 40px;
    max-width: 540px;
}

.settings-table td {
    width: 33%
}

/*.settings-table th {*/
    /*text-align: left;*/
/*}*/

/*.circle-table th {*/
    /*text-align: left;*/
/*}*/

.points-table td {
    width: 33%;
}


.circle-table {
    width: 100%;
    font-size: 14px;
    max-width: 846px;
}

.circle-table td {
    width: 23.5%
}

.circle-table .first-column {
    width: 16.5% !important;
}

.points-table {
    width: 100%;
    font-size: 14px;
    margin: 0;
    max-width: 540px;
    padding-bottom: 15px;
}

.separator {
    width: 100%;
    height: 1px;
    background-color: rgba(255, 255, 255, 0.05);
}

.mid-text {
    text-align: center;
}

.grey-txt {
    color: rgba(255, 255, 255, 0.6);
}

.first-column {
    width: 23% !important;
}